<strong> <h1> Cageflix </h1> </strong>
<h2> Netflix for Nic Cage Movies </h2>

<hr>

<%= form_for @movie do |f| %>

<div class="form-group">
<%= f.label :name %> <br>
<%= f.text_field :name %>
</div>

<br>

<div class="form-group">
<%= f.label :year %> <br>
<%= f.date_field :year %>
</div>

<br>

<div class="form-group">
<%= f.label :synopsis %> <br>
<%= f.text_area :synopsis %>
</div>

<br>

<%= f.submit %>
<% end %>
